/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


.footer {
	margin:3px auto;
	padding:0px 3px;
	width:99%;
	font-size:100%;
	text-align:center;
	position: absolute;
	bottom:0px;
}
.footer>a:link {
  color: #FFFFFF;
  background-color: #000;
  &:visited {
    color: #fff;
    background-color: #660099; }
  &:hover {
    color: #fff;
    background-color: #660099; }
}   

.content{
	background:white;
	border:3px solid #3399FF;
	padding:20px 20px;
	width:500px;
	margin:75px auto;

	/* border radius */
	-moz-border-radius: 15px;
	border-radius: 15px;

	/* box shadow */
	-moz-box-shadow: 15px 15px 15px #660099;
	-webkit-box-shadow: 15px 15px 15px #660099;
	box-shadow: 15px 15px 15px #660099;


}
ul {
	margin:auto;
	text-align:center;
}
h1, h2, h3 {

	text-align:center;
	color:#3399FF;
	margin:auto;
	padding:0px 0px 30px 0px;
}
.nav {
	text-align:center;
}
table {
	margin:20px auto;
}
table tr td {
	margin:0;
	padding: 0px 10px;
}
